<link rel="stylesheet" href="/stylesheets/nav.css">

<script src="https://kit.fontawesome.com/dbb1d2e5c7.js" crossorigin="anonymous"></script>
  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <i class="fas fa-dragon"></i>
    <a href="/">DnD Character Pub</a>
    <a href="/characters/new">Create</a>
    <a href="/characters">Profile</a>
    <a href="/profiles">All Members</a>
    
  </nav>
  
