<%- include('./partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/home.css">

<%- include('./partials/nav') %>

<main>
  <p>Welcome to DnD Character Pub, An app to make your own Dungeons and Dragons characters as well as see what other people have made! leave comments and reviews on other peoples characters and tell them what you think of them! Now sign in and get going adventurer</p>
</main>
<% if (user) { %>
  <a href="/auth/logout">
    <button type="submit">Logout</button>
  </a>
<% } else { %>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
  </a>
<% } %>
<%- include('./partials/footer') %>
