<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, dolor facilis. Odio, accusamus? Esse, tempore! Atque eos, quod magnam accusamus id voluptates neque ullam voluptatum similique accusantium nihil, eveniet autem?</h1>
</main>

<%- include('./partials/footer') %>
