body {
  max-width: 100%;
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}


@media screen and (max-width:480px) {
body {
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
}