/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */
img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}




@media screen and (max-width:480px) {
body {
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
}