/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */
#info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 24px;
}

img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

button.btn.btn-primary {
  background-color: black;
  border-color: black;
  font-size: 15px;
}


@media screen and (max-width:480px) {
body {
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
}