body {
  background-image: url("../images/addImages/L1GhlFxD-wallha.com.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}


p {
  text-decoration: none;
  color:white;
}