
body {
background-color: #f8f9fa;
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

  main{
  background-image: url("/images/background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


p {
  text-decoration: none;
  text-align: center;
}