nav {
  overflow: hidden;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid black;
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
}
i.fas.fa-dragon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: red;
}

@media screen and (max-width:480px) {
body {
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
 nav a {
   font-size: 10px;
 }
}