

body {
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("/images/background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 40px;
  margin-top: 15px;
}

h1 {
  padding-left: 15px;
  text-align: center;
  font-size: 40px;
  color: black;
}

h2 {
  font-size: 34px;
  color: black;
}

img {
  border-radius: 50%;
  border: 2px solid black;
  
}

th {
  font-size: 25px;
  text-align: center;
}

td {
  font-size: 23px;
  text-align: center;
}

a {
  font-size: 19px;
  text-align: center;
  justify-content: right;
  align-items: right;
}

.details {
  margin-right: 20px;
}

table {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px;
}

button {
  margin-top: 20px;
}

#name, #class, #race {
  padding: 7px 20px;

}

#logout-button {
  font-size: 15px;
  background-color: black;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

@media screen and (max-width:480px) {
  body {
    background-color: #eeeeee;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  
  h1 {
    padding-left: 7px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
  }
  
  img {
    border-radius: 50%;
  }
  
  th {
    font-size: 15px;
    text-align: center;
  }
  
  td {
    font-size: 13px;
    text-align: center;
  }

  .name {
    width: 40px;
}
span {
    word-break: break-word
}
  
  a {
    font-size: 10px;
    text-align: right;
    justify-content: right;
    align-items: right;
    text-decoration: none;
  }
  
  table {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
  }
  
  button {
    margin-top: 20px;
  }
}