<%- include('../partials/html-head') %>


<%- include('../partials/nav') %>

<h1>Profile</h1>
<container>
  <table>
    <thead>
      <tr>
        <th>Name:</th>
        <th>Race:</th>
        <th>Class</th>
        <th>Age:</th>
  
      </tr>
    </thead>
    <tbody>
      <!-- <%# characters.forEach(c => { %>
      <tr>
        <td><%#= c.name %></td>
        <td><%#= c.race %></td>
        <td><%#= c.class %></td>
        <td><%#= c.age %></td>
        <td>
        </td>
      </tr>
      <%# }) %> -->
    </tbody>
  </table>
</container>


<%- include('../partials/footer') %>
