<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/new.css">

<%- include('../partials/nav') %>

<main>
  <h1>CREATE CHARACTER</h1>
  <form action="/characters" method="POST">
    <label>
      Name:
        <input type="text" name="name" required>
    </label></br>
    <label>
      Race:
        <select name="race">
          <option value="Dragonborn">Dragonborn</option>
          <option value="Dwarf">Dwarf</option>
          <option value="Elf">Elf</option>
          <option value="Gnome">Gnome</option>
          <option value="Half-Elf">Half-Elf</option>
          <option value="Halfling">Halfling</option>
          <option value="Half-Orc">Half-Orc</option>
          <option value="Human">Human</option>
          <option value="Tiefling">Tiefling</option>
        </select>
    </label></br>
    <label>
      Class:
      <select name="class">
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>
      </select>
    </label></br>
    <label>
      Age:
        <input type="number" min="1" max="1000" name="age" required>
    </label></br>
    <label>
      Alignment:
      <select name="alignment">
        <option value="Lawful-Good">Lawful Good</option>
        <option value="Neutral-Good">Neutral Good</option>
        <option value="Chaotic-Good">Chaotic Good</option>
        <option value="Lawful-Neutral">Lawful Neutral</option>
        <option value="True-Neutral">True Neutral</option>
        <option value="Chaotic-Neutral">Chaotic Neutral</option>
        <option value="Lawful-Evil">Lawful Evil</option>
        <option value="Neutral-Evil">Neutral Evil</option>
        <option value="Chaotic-Evil">Chaotic Evil</option>
      </select>
    </label><br>
    <label>
      Background:
      <select name="background">
        <option value="Acolyte">Acolyte</option>
        <option value="Charlatan">Charlatan</option>
        <option value="CriminalSpy">Criminal/Spy</option>
        <option value="Entertainer">Entertainer</option>
        <option value="Folk Hero">Folk Hero</option>
        <option value="Gladiator">Gladiator</option>
        <option value="GuildArt">Guild Artisan</option>
        <option value="Hermit">Hermit</option>
        <option value="Knight">Knight</option>
        <option value="Noble">Noble</option>
        <option value="Outlander">Outlander</option>
        <option value="Pirate">Pirate</option>
        <option value="Sage">Sage</option>
        <option value="Sailor">Sailor</option>
        <option value="Soldier">Soldier</option>
        <option value="Urchin">Urchin</option>
      </select>
      <a href="https://www.dndbeyond.com/backgrounds?filter-name=&filter-source=2" target="_blank" rel="noopener noreferrer">Click me if you want more information on these backgrounds!
      </a>
    </label><br>
    <h2>PERSONALITY</h2>
    <div id="per-tra-hlp">
    <h5>Please Choose 3 personality Traits</h5>
    <div class="help-tip">
      <p> Personality traits are small, simple ways to help you set your character apart from every other character. Your personality traits should tell you something interesting and fun about your character. They should be self-descriptions that are specific about what makes your character stand out.</p>
  </div>
</div>
    <label>
      <input type="text" name="ptone" required>
    </label><br>
    <label>
      <input type="text" name="pttwo" required>
    </label><br>
    <label>
      <input type="text" name="ptthree" required>
    </label><br>





    <button type="submit">Create</button>
    <input hidden name="owner" value="<%= owner %>">
  </form>
</main>

<%- include('../partials/footer') %>
