<%- include('../partials/html-head') %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@519&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/new.css">

<%- include('../partials/nav') %>

<main>
  <h1>CREATE CHARACTER</h1>
  <form action="/characters" method="POST">
    <!-- NAME -->
    <label>
      Character Name:
        <input type="text" name="name" required>
    </label></br>
    <!-- RACE -->
    <label>
      Race:
        <select name="race">
          <option value="Dragonborn">Dragonborn</option>
          <option value="Dwarf">Dwarf</option>
          <option value="Elf">Elf</option>
          <option value="Gnome">Gnome</option>
          <option value="Half-Elf">Half-Elf</option>
          <option value="Halfling">Halfling</option>
          <option value="Half-Orc">Half-Orc</option>
          <option value="Human">Human</option>
          <option value="Tiefling">Tiefling</option>
        </select>
    </label></br>
    <!-- CLASS -->
    <label>
      Class:
      <select name="class">
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>
      </select>
    </label></br>
    <!-- AGE -->
    <label>
      Age:
        <input type="number" min="1" max="1000" name="age" required>
    </label></br>
    <!-- ALIGNMENT -->
    <label>
      Alignment:
      <select name="alignment">
        <option value="Lawful-Good">Lawful Good</option>
        <option value="Neutral-Good">Neutral Good</option>
        <option value="Chaotic-Good">Chaotic Good</option>
        <option value="Lawful-Neutral">Lawful Neutral</option>
        <option value="True-Neutral">True Neutral</option>
        <option value="Chaotic-Neutral">Chaotic Neutral</option>
        <option value="Lawful-Evil">Lawful Evil</option>
        <option value="Neutral-Evil">Neutral Evil</option>
        <option value="Chaotic-Evil">Chaotic Evil</option>
      </select>
    </label><br>
    <!-- BACKGROUND -->
    <label>
      Background:
      <select name="background">
        <option value="Acolyte">Acolyte</option>
        <option value="Charlatan">Charlatan</option>
        <option value="CriminalSpy">Criminal/Spy</option>
        <option value="Entertainer">Entertainer</option>
        <option value="Folk Hero">Folk Hero</option>
        <option value="Gladiator">Gladiator</option>
        <option value="GuildArt">Guild Artisan</option>
        <option value="Hermit">Hermit</option>
        <option value="Knight">Knight</option>
        <option value="Noble">Noble</option>
        <option value="Outlander">Outlander</option>
        <option value="Pirate">Pirate</option>
        <option value="Sage">Sage</option>
        <option value="Sailor">Sailor</option>
        <option value="Soldier">Soldier</option>
        <option value="Urchin">Urchin</option>
      </select>
      <a href="https://www.skullsplitterdice.com/blogs/dnd/5e-background-for-dungeons-and-dragons" target="_blank" rel="noopener noreferrer">Click for more information on backgrounds
      </a>
    </label><br><br>
    <h2>PERSONALITY</h2>
    <div id="help">
      <!-- PERSOANLITY TRAITS -->
    <h5>Choose 2 personality Traits</h5>
    <div class="help-tip">
      <p> Personality traits are small, simple ways to help you set your character apart from every other character. Your personality traits should tell you something interesting and fun about your character. They should be self-descriptions that are specific about what makes your character stand out.</p>
    </div>
    </div>
    <label>
      trait #1
      <input type="text" name="ptone" required>
      trait #2
      <input type="text" name="pttwo" required>
    </label><br><br>
    <!-- IDEALS -->
    <div id="help">
      <h5>Describe One ideal that drives your character</h5>
      <div class="help-tip">
        <p>Ideals might answer any of these questions: What are the principles that you will never betray? What would prompt you to make sacrifices? What drives you to act and guides your goals and ambitions? What is the single most important thing you strive for? 
        </p>
      </div>
      </div>
      <label>
        Ideals:
        <textarea rows="3" cols="20" id="title" name="ideals" required></textarea>
      </label><br>
  <!-- BONDS -->
  <div id="help">
    <h5>Create one bond for your character</h5>
    <div class="help-tip">
      <p>
        Bonds represent a character’s connections to people, places, and events in the world. They tie you to things from your background. Bonds might answer any of these questions: Whom do you care most about? To what place do you feel a special connection? What is your most treasured possession? Your bonds might be tied to your class, your background, your race, or some other aspect of your character’s history or personality.
      </p>
    </div>
    </div>
    <label>
      Bonds:
      <textarea rows="3" cols="20" id="title" name="bonds" required></textarea>
    </label><br>
  <!-- FLAWS -->
  <div id="help">
    <h5>Choose One Flaw for your Character</h5>
    <div class="help-tip">
      <p>
        Your character’s flaw represents some vice, compulsion, fear, or weakness—in particular, anything that someone else could exploit to bring you to ruin or cause you to act against your best interests. A flaw might answer any of these questions: What enrages you? What’s the one person, concept, or event that you are terrified of? What are your vices?
      </p>
    </div>
    </div>
    <label>
      Flaws:
      <textarea rows="3" cols="20" id="title" name="flaws" required></textarea>
    </label><br>
  <!-- SKILLS -->
  <h2>SKILLS</h2>
  <label>
    <h5>select 5 skills your character will be proficient in</h5>
    <span class="anchor">Select Skills</span>
    <p>CMD + Click for MAC</p>
    <p>CTRL + Click for WIN</p>

          <select name="skills" multiple="multiple" required>
            <option>Athletics<i> Str</i></option>
            <option>Acrobatics<i> Dex</i></option>
            <option>Sleight of Hand<i> Dex</i></option>
            <option>Stealth<i> Dex</i></option>
            <option>Arcana<i> Int</i></option>
            <option>History<i> Int</i></option>
            <option>Investigation<i> Int</i></option>
            <option>Nature<i> Int</i></option>
            <option>Religion<i> Int</i></option>
            <option>Animal Handling<i> Wis</i></option>
            <option>Insight<i> Wis</i></option>
            <option>Medicine<i> Wis</i></option>
            <option>Perception<i> Wis</i></option>
            <option>Survival<i> Wis</i></option>
            <option>Deception<i> Char</i></option>
            <option>Intimidation<i> Char</i></option>
            <option>Performance<i> Char</i></option>
            <option>Persuasion<i> Char</i></option>
          </select>
      </label>
        <h5>Additional information on your character</h5>
        <label>
          <textarea rows="5" cols="40" id="title" name="descript" placeholder="Include anything else you want others to know about your character!"></textarea>
        </label><br>
    <button type="submit">Create</button>
    <input hidden name="owner" value="<%= owner %>">
</form>
<br><br>
</main>

<%- include('../partials/footer') %>
